* {
  margin: 0px;
  padding: 0px;
}
img {
  height: 400px;
  width: 300px;
  padding: 20px;
}
h3 {
  padding: 0px 20px;
}
a {
  padding: 0px 20px;
}
#results {
  display: flex;
  flex-wrap: wrap;
}
.topbar {
  background-color: rgba(30, 30, 97, 0.55);
  padding: 10px;
  margin: 10px 0px;
}
.topbar h2 {
  color: white;
}
.movie h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.movie a {
  display: block;
  background: black;
  padding: 10px;
  border-radius: 1rem;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.input {
  width: 300px;
  height: 40px;
  margin: 10px;
}
.btn {
  height: 40px;
  width: 90px;
}
